/* Font */
$serif: 'Playfair Display', serif;
$sans-serif: 'Raleway', sans-serif;
$neuton: 'Neuton', serif;
$nunito: 'Nunito', sans-serif;

/* Color Palatte */
$yellow: #F9C343;
$blue: #229DD6;
$dark: #1A1A1A;

